.shopcategory-banner{
    display: block;
    margin: 30px block;
    width: 82%;

}
.shop-category{
    overflow: hidden;
}
.shop-category .banner img{
    margin-top: 90px;
    margin-bottom: 30px;
    width: 110%;
    height: 400px;
   
}
.shopcategory-indexSort{
    display: flex;
    margin: 0 170px;
    justify-content: space-between;
    align-items: center;

}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;

}
.shopcategory-indexSort p span{
    font-weight: 600;
}
.shopcategory-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
    gap: 20px;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 220px;
    height: 60px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;

}
@media (max-width:800px) {
    .shopcategory-products{
        margin: 20px 0px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0 10%;
       
    }
    .shopcategory-indexSort{
        margin: 0 70px;
    }
    .shopcategory-loadmore{
        width: 180px;
        height: 50px;
       margin-top: 50px;
    }
}