.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%) ;
    display: flex;
    margin-top: 90px;

}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}
.hero-left p{
    color: #171717;
    font-size: 70px;
    font-weight: 700;
}
.hero-left-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-left-icon img{
    width: 105px;
    
}
.hand-hand-icon{
    display: flex;
    align-items: center;

}
.hand-hand-icon p{
    font-size: 65px;

}
.hand-hand-icon img{
    height: 80px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 280px;
    height: 70px;
    border-radius: 75px;
    margin-top: 40px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.hero-right{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;


}
.hero-right img{
    height: 45rem;
}
@media only screen and (max-width:800px){
    .hero{
        width: 100vh;
        min-height: 100vh;
    }
    .hero-right img{
        height: 40rem;
    }
    .hero-left h2{
        font-size: 25px;
    }
    .hero-left p{
        font-size: 55px;
    }
    .hero-left{
        padding-left: 50px;
    }
    .hand-hand-icon img{
        height: 40px;
    }
    .hero-latest-btn{
        width: 250px;
        height: 50px;
        font-size: 20px;
    }
    
}